/* nav related styles  */

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.btn-primary-contact {
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}

nav>ul {
    display: flex;
    align-items: center;
}

.website-logo {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747);
    font-size: 20px;
    font-weight: 400;

}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

/* banner section style start  */

.banner {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 230px;
}

.banner-greeting {
    color: #474747);
    font-size: 45px;
    font-weight: 600;
    margin: 5px;
}

.banner-title {
    color: #181818);
    font-size: 85px;
    font-weight: 700;
    margin: 5px;

}

.profile-photo {
    height: 670px;
    width: 580px;
}

/* main section star  */

/* start about me section  */

.aboutme-section {
    background-color: #FFF8F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    height: 550px;
    margin: 130px auto;

}

.section-title {}

.acoutme-description {
    display: block;
    color: #757575);
    text-align: center;
    width: 825px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.section-title {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    color: #474747;
    text-align: center;
    font-size: 18px;
    font-weight: 100px;
}

.section-title-h2 {
    margin-top: 110px;
    color: #181818);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-me-into-details {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.about-me-into-tname {
    font-weight: 200;
}

.about-me-into-details {
    font-weight: 700px;
}

.about-me-into-tname,
.about-me-into-details {
    margin: 0px;
    padding: 0px;
}

/* what i d start  */

.what-i-do {
    display: flex;
    flex-direction: column;
    width: 1140px;
    margin: 0 auto;
}

.what-i-do-description {
    width: 825px;
    margin: 0 auto;
}

.skill-title {
    color: #181818);
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    color: #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 30px;
}

.skill-container {
    padding-top: 50px;
    display: flex;
    gap: 25px;
    justify-content: space-evenly;

}

.skill {

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-img{
    padding: 30px 30px 0px 30px ;
}